<launch>
    <!-- VINS-Mono launch for Raspberry Pi setup. feature_tracker +
         vins_estimator + vision_pose_bridge. pose_graph is intentionally
         not started: rpi.yaml has loop_closure: 0 and the node would still
         consume RAM/CPU on Pi Zero 2W for no benefit.
    -->
    <arg name="config_path" default="$(find feature_tracker)/../config/rpi/rpi.yaml" />
    <arg name="vins_path"   default="$(find feature_tracker)/../config/../" />

    <arg name="bridge_rate"          default="10.0" />
    <arg name="bridge_max_accel"     default="40.0" />
    <arg name="bridge_max_speed"     default="30.0" />
    <arg name="bridge_odom_timeout"  default="1.0" />

    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vision_pose_bridge" pkg="vins_estimator" type="vision_pose_bridge" output="screen">
        <param name="rate"         type="double" value="$(arg bridge_rate)" />
        <param name="max_accel"    type="double" value="$(arg bridge_max_accel)" />
        <param name="max_speed"    type="double" value="$(arg bridge_max_speed)" />
        <param name="odom_timeout" type="double" value="$(arg bridge_odom_timeout)" />
    </node>
</launch>
